#telo{
    max-width: 95%;
}
.list-group-item{
    margin-top: 10px;
    border-width: 2px;
}

.bylina{
    background-color: #7CFC00;
}

.strom{
    background-color: #228B22;
}

.ker{
    background-color: #808000;
}

.poloker{
    background-color: #00FF7F;
}

.kstrom{
    background-image: linear-gradient(to bottom right, #808000, #00FF7F, #228B22);
}

.stvorec{
    width: 7%;
    height: 50%;
    position: absolute;
    left: 5%;
    bottom: 25%;
}

.btn-group{
    width: 80%;
}

.nadpis{
    position: absolute;
    left: 2%;
    max-width: 50%;
}

#vyhladavac{
    position: absolute;
    right: 2%;
}

.hladaj{
    position: absolute;
    top: 2%;
    right: 1%;
}
