#telo{
    width: 95%;
}

#upozornenieDiv{
    opacity: 0;
}

.pozor{
    background-color: lightcoral;
}

.alert{
    max-width: 90%;
}

.switch{
    text-align: left;
    position: relative;
    left: 2.5%;
    width: 97.5%;
}